<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <p> </p>
  <p> </p>
  <div class="container">

    <div class="card-deck">

      <app-bidder1></app-bidder1>

      <app-bidder2></app-bidder2>

      <app-bidder3></app-bidder3>

    </div>

    <p> </p>
    <p> </p>
    <app-bid></app-bid>
  </div>
</body>

</html>
